<!-- SIDEBAR -->
<div
  class="fixed top-0 left-0 z-40 w-64 h-full bg-white border-r border-gray-200 pt-16 transition-transform duration-300"
  [class.-translate-x-full]="!isSidebarOpen"
  [class.translate-x-0]="isSidebarOpen"
>

  <ul class="p-4 space-y-2">

    <li *ngFor="let menu of menus">
      <a
        [routerLink]="menu.menuUrl"
        (click)="closeAll()"
        routerLinkActive="bg-blue-100 text-blue-600"
        class="flex items-center gap-3 px-3 py-2 rounded hover:bg-gray-100">

        <i [class]="menu.menuIcono"></i>

        <span>{{ menu.menuNombre }}</span>
      </a>
    </li>

  </ul>
</div>

<div *ngIf="isSidebarOpen"
     (click)="closeAll()"
     class="fixed inset-0 bg-black/50 z-30 sm:hidden">
</div>